/lottery-contract/node_modules
/node_modules
/lottery-contract/.env
/package-lock.json
/.pnp
.pnp.js

# testing
/coverage

# production
/lottery-react/build

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
